/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif; 
*/


/* common utilities */
body {
  font-family: "EB Garamond", serif;
}

.button-primary {
  background-color: #b68c5a;
  color: white;
}

.primary-bg-color {
  background-color: #b68c5a;
  color: white;
}

.title-primary {
  font-family: "EB Garamond", serif;
  color: #414040;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.paragraph-primary {
  color: #707070;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.font-primary {
  font-family: "EB Garamond", serif;
}

.font-secondary {
  font-family: "Poppins", sans-serif;
}

.button-hover-effect:hover
{
    background-color: transparent;
    border: 1px solid black;
    transition: background-color 1s ease-in-out,
                border 1s ease-in-out ;
}



/* nav  */
.modal-button {
  background-color: #b68c5a;
}

.catalogue-hover:hover
{
    background-image: linear-gradient(to top, #ffffff, #e6e6e6);

    border: 1px solid lightgray !important;
}


/* banner */

/* clients  */
.carousel-img-w
{
    width: 10%;
}



/* media query */

@media screen and (max-width: 576px) {
  /* utililties  */
  .border-sm-1 {
    border: 1px solid lightgray !important;
  }

  .font-sm-10
{
    font-size: 13px;
}
  .font-sm-25
{
    font-size: 24px;
}

  .rounded-sm-1
  {
    border-radius: 10px;
  }
  /* banner  */
  .card-overlay {
    width: 100% !important;
  }

  /* client  */
  .carousel-paragraph-font-sm
{
    font-size: 11px;
}

.sm-none
{
    display: none;
}
}

@media screen and (min-width: 577px) {
  /* utilities  */
  .w-md-50 {
    width: 50%;
  }
  .w-md-25 {
    width: 25%;
  }
  .w-md-75 {
    width: 75%;
  }

  .font-md-10
{
    font-size: 13px;
}
  .font-md-25
{
    font-size: 24px;
}
  /* banner  */
  .search-box {
    padding: 0.5rem 16rem 0.5rem 0.5rem;
  }
.md-none
{
    display: none;
}  
}
