/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif; 
*/

/* common utilities */
body {
  font-family: "EB Garamond", serif;
}

.button-primary {
  background-color: #b68c5a;
  color: white;
}

.primary-bg-color {
  background-color: #b68c5a;
  color: white;
}

.title-primary {
  font-family: "EB Garamond", serif !important;
  color: #414040 !important;
  font-size: 40px !important;
  font-weight: 800 !important;
}

.paragraph-primary {
  color: #707070;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.font-primary {
  font-family: "EB Garamond", serif;
}

.font-secondary {
  font-family: "Poppins", sans-serif;
}

/* nav  */
.modal-button {
  background-color: #b68c5a;
}

/* banner */

/* media query */

@media screen and (max-width: 576px) {
  /* banner  */
  .card-overlay {
    width: 100% !important;
  }
}

@media screen and (min-width: 577px) {
  /* utilities  */
  .w-md-50 {
    width: 50%;
  }
  /* banner  */
  .search-box {
    padding: 0.5rem 13rem 0.5rem 0.5rem !important;
  }
}
